{% extends 'core/base.html' %}{% load static %}
{% block title %}Iniciar sesión{% endblock %}
{% block contenido %}
<header>
    <div id="log_img" class="dark-overlay" style="background-image: url('{% static 'core/img/cafe_header.jpg' %}')">
      <style>.errorlist{color:red;}</style>
         <div id="header_text" class="formulario-inicio_sesion">
            <div class="row mt-6">
                <div class="col-md-10 mx-auto mb-5">
                    <form action="" method="post">{% csrf_token %}
                    <h2 class="mb-4 ">Iniciar sesión</h2>
                    {% if form.non_field_errors %}
                        <p style="color:red">Usuario o contraseña incorrectos, prueba de nuevo.</p>
                    {% else %}
                       <p style="color:white">Ingresar Usuario y Contraseña para Acceder.</p>
                    {% endif %}
                    <p>
                        <input type="text" name="username" autofocus maxlength="254" required
                        id="id_username" class="form-control" placeholder="Nombre de usuario"/>
                    </p>
                    <p>
                        <input type="password" name="password" required
                        id="id_password" class="form-control" placeholder="Contraseña"/>
                    </p>
                    <p><input type="submit" class="btn btn-danger btn-block" value="Acceder"></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}