{% extends 'core/base.html' %} {% load static %} {% block contenido %}

<div class="container-xl artista">
    <div class="row justify-content-center text-white">

        <div class="col-8 col-md-4 col-lg-5">
            <p class="h2 font-weight-bold"> Damos vida a un sueño colaborativo </p>

            <p class="p text-left pt-4">
                Somos un grupo de artistas que is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                book.
            </p>
        </div>
        <div class="col-8 col-md-4 col-lg-5 ">
            <img class="img-fluid" src="{% static 'core/img/artistas_grupo.jpg' %}" alt="artistas">
        </div>
    </div>
    <div class="linea-blanca"></div>
</div>

<div class="container-xl">
    <div class="col-12 justify-content-center">

        <p class="h2 mt-4">Grupo Cero está formado por</p>

        {% for artista in artista %}
            <div>
                <div class="media">
                    <a href="{% url 'detalle_artista' artista.rut_artista %}">
                        <img src="{{artista.foto_perfil.url}}" class="media-cover col mr-3" alt="artista">
                    </a>
                    <div class="media-body">
                        <h5 class="mt-0">{{artista.nombre_artista}}</h5>
                        <p class="text-danger"><strong></strong></p>
                        <p><img class="align-top" width="18" src="{% static 'core/img/posicion.svg' %}" alt="lugar" />{{artista.pais}}</p>
                        <p>{{artista.biografia}}</p>
                    </div>
                </div>
                <div class="linea"></div>
            </div>
        {% endfor %}
    
    </div>
</div>

{% endblock contenido %}