{% extends 'core/base.html' %} {% load static %} {% block contenido %}

<!-- CONTENIDO DETALLE OBRA -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    $.getJSON('https://mindicador.cl/api', function(dailyIndicators) {
        $("<span/>", {
            html: (document.getElementById('valor-peso').innerHTML / dailyIndicators.dolar.valor).toFixed(2)
        }).appendTo(document.getElementById('valor-dolar'));
        console.log(dailyIndicators);
        console.log(dailyIndicators.dolar.valor);
    });
</script>

<div>
    
        <div class="container-xl cont_fondo_do">
            <div class="row justify-content-center">
                <div class="col-8 col-md-4 col-lg-5">
                    <img class="img-fluid" src="{{obras.imagen.url}}" alt="obra-artista" />
                </div>

                <div class="col-8 col-md-4 col-lg-5">
                    <h3 class="text-left">{{obras.nombre_obra}}<br />{{obras.anio}}</h3>
                    <p class="p text-left pb-1">
                        <strong>Tipo de obra:</strong> {{obras.tipo_obra}}
                    </p>
                    <p class="p text-left pb-1">
                        <strong>Dimensiones:</strong> Alto {{obras.alto}}; largo {{obras.largo}}; ancho {{obras.ancho}}
                    </p>
                    <p class="p text-left pb-3"><strong>Soporte:</strong>{{obras.soporte}}</p>

                    <!-- Inicio de sección precios con API -->

                    <h4 class="p text-left pb-4">clp $<span id="valor-peso">{{obras.precio}}</span></h4>

                    <h5 class="p text-left pb-4">usd $<span id="valor-dolar"></span> dólares</h5>

                    <!-- Fin de sección de precios con API -->
                </div>
            </div>
        </div>
    



</div>

{% endblock contenido %}