{% extends 'core/base.html' %} {% load static %} {% block contenido %}

<!-- PUBLICACION -->
<div class="container-xl contacto">

    <div class="row justify-content-left">
        <div class="col-12 col-md-10 col-lg-6">
            {% if 'ok' in request.GET %}
                <p><b>Perfil agregado exitosamente.</b></p>
            {% endif %}
            <form method="POST" id="formulario">
                {% csrf_token %}
                <h1>Editar perfil</h1>
                
                <div class="form-group">
                    <label for="nombre">Nombre de artista</label>
                    <div>{{edit.nombre_artista}}</div>
                </div>

                <div class="form-group">
                    <label for="pais">País de origen</label>
                    <div>{{edit.pais}}</div>
                </div>

                <div class="form-group">
                    <label for="biografia">Biografía</label>
                    <div>{{edit.biografia}}</div>
                </div>

                <div class="form-group">
                    <label for="imagenes">Imagenes</label><br>
                    <div>{{edit.foto_perfil}}</div>
                </div>

                <div class="col-md-12 mt-4 mb-3">
                    <input type="submit" class="btn btn-danger" values="Enviar">
                </div>

            </form>
        </div>
    </div>
    <!-- validaciones -->
    <script src="{% static 'core/js/validacion-publicacion.js' %}"></script>
</div>

{% endblock contenido %}