{% extends 'core/base.html' %} {% load static %} {% block contenido %}

<!-- EDITAR PUBLICACION -->
<div class="container-xl contacto">

    <div class="row justify-content-left">
        <div class="col-12 col-md-10 col-lg-6">
            <form action="" method="post" id="formulario" enctype="multipart/form-data">
                {% csrf_token %}
                <h1>Editar obra</h1>

                <div class="form-group">
                    <label for="nombre_obra">Nombre Obra</label>
                    <div>{{form.nombre_obra}}</div>
                </div>

                <div class="form-group">
                    <label for="anio">Año</label>
                    <div>{{form.anio}}</div>
                </div>

                <div class="form-group">
                    <label for="precio">Precio (clp)</label>
                    <div>{{form.precio}}</div>
                </div>

                <div class="form-group">
                    <label for="tipo_obra">Tipo de obra</label>
                    <div>{{form.tipo_obra}}</div>
                </div>

                <div class="form-group">
                    <label for="alto">Alto</label><br>
                    <div>{{form.alto}}</div>
                </div>

                <div class="form-group">
                    <label for="ancho">Ancho</label><br>
                    <div>{{form.ancho}}</div>
                </div>

                <div class="form-group">
                    <label for="largo">Largo</label><br>
                    <div>{{form.largo}}</div>
                </div>

                <div class="form-group">
                    <label for="soporte">Soporte</label><br>
                    <div>{{form.soporte}}</div>
                </div>

                <div class="form-group">
                    <label for="descripcion">Descripción</label><br>
                    <div>{{form.descripcion}}</div>
                </div>

                <div class="form-group">
                    <label for="imagen">Imagen</label><br>
                    <div>{{form.imagen}}</div>
                </div>

                <div class="col-md-12 mt-4 mb-3">
                    <input type="submit" value="Publicar" class="mar-bot-20 btn btn-danger"/>
                </div>

            </form>
            {{mensaje}}
        </div>
    </div>

</div>

{% endblock contenido %}