{% extends 'core/base.html' %} {% load static %} {% block contenido %}

<!-- PUBLICACION -->
<div class="container-xl contacto">

    <div class="row justify-content-left">
        <div class="col-12 col-md-10 col-lg-6">
            {% if 'ok' in request.GET %}
                <p><b>Perfil agregado exitosamente.</b></p>
            {% elif 'fail' in request.GET %}
                <p><b>Oh, a ocurrido un problema.</b></p>
            {% endif %}
            <form method="post" id="perfil" enctype="multipart/form-data">
                {% csrf_token %}
                <h1>Agregar perfil</h1>

                <div class="form-group">
                    <label for="nombre_artista">Nombre Artista</label>
                    <div>{{editForm.nombre_artista}}</div>
                </div>

                <div class="form-group">
                    <label for="pais">Pais</label>
                    <div>{{editForm.pais}}</div>
                </div>

                <div class="form-group">
                    <label for="biografia">Biografia</label>
                    <div>{{editForm.biografia}}</div>
                </div>

                <div class="form-group">
                    <label for="foto_perfil">Foto de perfil</label>
                    <div>{{editForm.foto_perfil}}</div>
                </div>

                <div class="col-md-12 mt-4 mb-3">
                    <input type="submit" class="btn btn-danger" values="Enviar"/>
                </div>

            </form>
        </div>
    </div>
</div>

{% endblock contenido %}