{% extends 'core/base.html' %} {% load static %} {% block contenido %}
<div class="container-xl">

    <div class="container col-12">
        <h2 class="mt-5">Gestión de obras</h2>
        <div class="intro-button mx-auto">
            <a class="btn btn-success btn-xl mb-3" href="{% url 'publicacion' %}">Nueva obra</a>
        </div>
        <table id="gestion-obras-tabla" class="table table-striped table-bordered table-sm" cellspacing="0"
            width="100%">
            <thead class="gestion-obras-encabezado">
                <tr>
                    <th class="th-sm">Acciones</th>
                    <th class="th-sm">Portada</th>
                    <th class="th-sm">Autor</th>
                    <th class="th-sm">Nombre</th>
                    <th class="th-sm">Año</th>
                    <th class="th-sm">Precio</th>
                    <th class="th-sm">Tipo</th>
                    <th class="th-sm">Alto</th>
                    <th class="th-sm">Ancho</th>
                    <th class="th-sm">Largo</th>
                    <th class="th-sm">Soporte</th>
                    <th class="th-sm">Descripción</th>
                </tr>
            </thead>
            <tbody>
            {% for obras in obras %}
                <tr class="gestion-obras-fila">
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                Acción
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{% url 'editar' obras.id %}">Editar</a>
                                <a class="dropdown-item text-danger" href="{% url 'eliminar' obras.id %}">Eliminar</a>
                            </div>
                        </div>
                    </td>
                    
                        <td> <img src="{{obras.imagen.url}}" alt="" style="max-height:50px;"></td>
                        <td>{{obras.autor}}</td>
                        <td>{{obras.nombre_obra}}</td>
                        <td>{{obras.anio}}</td>
                        <td>{{obras.precio}}</td>
                        <td>{{obras.tipo_obra}}</td>
                        <td>{{obras.alto}}</td>
                        <td>{{obras.ancho}}</td>
                        <td>{{obras.largo}}</td>
                        <td>{{obras.soporte}}</td>
                        <td>{{obras.descripcion}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock contenido %}