{% extends 'core/base.html' %} {% load static %} {% block contenido %}

<!-- BODY -->

<div class="container-xl cont_fondo-obra">

    <div class="row justify-content-center">
        <div class="col-8 col-md-4 col-lg-5 text-light">
            <h2>Encuéntrate con el arte que te movera</h2>
            <p class="p text-left">
                Inaugurada en 2019, ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                book. </a>.
            </p>
        </div>
        <div class="col-8 col-md-4 col-lg-5">
            <img class="img-fluid" src="{% static 'core/img/art_gallery.jpg' %}" alt="Galeria de Artes">
        </div>
    </div>
    <div class="linea-blanca"></div>
</div>
<div class="row justify-content-center">
    {% for obra in obras %}
        <div class="col-8 col-md-4 mt-5 mb-5">
            <div class="row p-1 justify-content-center">
                <div class="col-md-12 card-deck">
                    <a href="{% url 'detalle_obra' %}">

                    <div class="card item-obras">
                        {% if obra.imagen %}
                            <img class="img-fluid card-cover" src="{{obra.imagen.url}}" alt="">                       
                        {% endif %}                                      
                        <div class="card-body">
                            <h4 class="card-title"><a href="{% url 'detalle_obra' obra.id %}">{{obra.nombre_obra}}</a></h4>
                            <p class="card-text">{{obra.anio}}</p>
                        </div>
                    </div>
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock contenido %}