{% extends 'core/base.html' %} {% load static %} {% block contenido %}

<!-- BODY -->

<div class="container-xl cont_fondo-obra">

    <div class="row justify-content-center">
        <div class="col-8 col-md-4 col-lg-5 text-light">
            <h2>Encuéntrate con el arte que te movera</h2>
            <p class="p text-left">
                Inaugurada en 2019, ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
                book. </a>.
            </p>
        </div>
        <div class="col-8 col-md-4 col-lg-5">
            <img class="img-fluid" src="{% static 'core/img/art_gallery.jpg' %}" alt="Galeria de Artes">
        </div>
    </div>
    <div class="linea-blanca"></div>
</div>


<section>
    <div class="container-xl">

        <div class="container-xl justify-content-center  mt-5 mb-3">
            <div class="row">
                <div class="col-6">
                    <h2 class="float-left ">
                        Obras en exhibición
                    </h2>
                </div>

                <div class="col-4 text-right">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Ordenar por
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Artista</a>
                            <a class="dropdown-item" href="#">Fecha</a>
                            <a class="dropdown-item" href="#">Técnica</a>
                        </div>
                    </div>
                </div>

                <div class="col-2">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

        {% for publicacion in Publicacion %}
            <section class="body-obras">
                <div class="obras">
                        <div class="row card-deck">
                            <div class="col-md-4 mb-3">
                                <div class="card item-obras">
                                {% if publicacion.imagen %}
                                    <img class="img-fluid card-cover" src="{{publicacion.imagen.url}}" alt="">                       
                                {% endif %}                                      
                                    <div class="card-body">
                                        <h4 class="card-title"><a href="{% url 'detalle_obra' %}">{{publicacion.nombre_obra}}</a></h4>
                                        <p class="card-text">{{publicacion.anio}}</p>
                                        <h6></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </section>
        {% endfor %}
        <div class="container-xl justify-content-center"></div>
        <nav aria-label="Page navigation example">
            <ul class="pagination pb-4 ">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</section>

{% endblock contenido %}