{% extends 'core/base.html' %} {% load static %} {% block contenido %}

<!-- PUBLICACION -->
<div class="container-xl contacto">

    <div class="row justify-content-left">
        <div class="col-12 col-md-10 col-lg-6">
            <form action="" method="post" id="formulario" enctype="multipart/form-data">
                {% csrf_token %}
                <h1>Publicar una obra</h1>

                {{ publiForm }}

                <div class="col-md-12 mt-4 mb-3">
                    <input type="submit" value="Publicar" class="mar-bot-20 btn btn-danger"/>
                </div>

            </form>
            {{mensaje}}
        </div>
    </div>
    <!-- validaciones -->
    <!-- <script src="{% static 'core/js/validacion-publicacion.js' %}"></script> -->
</div>

{% endblock contenido %}