{% extends 'core/base.html' %} {% load static %} {% block contenido %}

<!-- ARTISTA -->
<div class=" container-xl detalle-artista">


    <div class="row justify-content-center">

        <div class="col-8 col-md-4 col-lg-5">
            <p class="h2 font-weight-bold"> Fernand Fernandino Fifofalfa </p>
            <div>
                <p><img class="align-top" width="18" src="{% static 'core/img/posicion.svg' %}" alt="lugar">Chile</p>
            </div>
            <div class="align-top">
                <h4>Artista plástico, pintor conceptual.</h4>
            </div>
            <p class="p text-left pt-4">
                <i> 
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, corrupti quae deserunt qui totam unde mollitia    praesentium reprehenderit laudantium ducimus ab atque recusandae aliquam suscipit accusamus neque omnis dignissimos labore.
                    </i>
            </p>
        </div>
        <div class="col-8 col-md-4 col-lg-5 ">
            <img class="img-fluid img mx-auto d-block" src="{% static 'core/img/fernand_fernandinho_fifofalfa.jpg' %}" alt="artistas">
        </div>
    </div>
</div>


<!-- CAROUSEL OBRAS DESTACADAS -->
<section class="pt-5 pb-5 container-xl artistas_slice">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h2 class=" text-lg-left mb-3 text-black">Obras en exposición</h2>
            </div>
            <div class="col-6 text-right">
                <a class="btn primario text-white mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                    <i class="fa fa-arrow-left"></i>
                </a>
                <a class="btn primario mb-3 text-white" href="#carouselExampleIndicators2" role="button" data-slide="next">
                    <i class="fa fa-arrow-right"></i>
                </a>
            </div>
            <div class="col-12">
                <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">

                    <div class="carousel-inner">

                        <div class="carousel-item active">
                            <div class="row card-deck">
                                <div class="col-md-4 mb-3">

                                    <div class="card">
                                        <a href="{% url 'detalle_obra' %}">
                                            <img class="img-fluid card-cover" src="{% static 'core/img/escultura_pez.jpg' %}" alt="fish-Head">
                                        </a>
                                        <div class="card-body">
                                            <h4 class="card-title">Las olas y las chaas</h4>
                                            <p class="card-text">Fernando Fernandino Goyunoreguachea. </p>
                                            <h6></h6>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <a href="{% url 'detalle_obra' %}">
                                            <img class="img-fluid card-cover" src="{% static 'core/img/tejido_mandala.jpg' %}" alt="mandala">
                                        </a>
                                        <div class="card-body">
                                            <h4 class="card-title">Tejido de lana</h4>
                                            <p class="card-text">Matías Rebolledo Rebolledo.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <a href="{% url 'detalle_obra' %}">
                                            <img class="img-fluid card-cover" src="{% static 'core/img/pintura.jpg' %}" alt="Card image">
                                        </a>
                                        <div class="card-body">
                                            <h4 class="card-title">Iglesia en la plaza de Munich</h4>
                                            <p class="card-text">Adolfo Hitmonchan.
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>

                        <div class="carousel-item">
                            <div class="row card-deck">
                                <div class="col-md-4 mb-3">

                                    <div class="card">
                                        <a href="{% url 'detalle_obra' %}">
                                            <img class="img-fluid card-cover" src="{% static 'core/img/escultura_pez.jpg' %}" alt="fish-Head">
                                        </a>
                                        <div class="card-body">
                                            <h4 class="card-title">Las olas y las chaas</h4>
                                            <p class="card-text">Fernando Fernandino Goyunoreguachea. </p>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <a href="{% url 'detalle_obra' %}">
                                            <img class="img-fluid card-cover" src="{% static 'core/img/tejido_mandala.jpg' %}" alt="mandala">
                                        </a>
                                        <div class="card-body">
                                            <h4 class="card-title">Tejido de lana</h4>
                                            <p class="card-text">Matías Rebolledo Rebolledo.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <a href="{% url 'detalle_obra' %}">
                                            <img class="img-fluid card-cover" src="{% static 'core/img/pintura.jpg' %}" alt="Card image">
                                        </a>
                                        <div class="card-body">
                                            <h4 class="card-title">Iglesia en la plaza de Munich</h4>
                                            <p class="card-text">Adolfo Hitmonchan.
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>

                        <div class="carousel-item">
                            <div class="row card-deck">
                                <div class="col-md-4 mb-3">

                                    <div class="card">
                                        <a href="{% url 'detalle_obra' %}">
                                            <img class="img-fluid card-cover" src="{% static 'core/img/escultura_pez.jpg' %}" alt="fish-Head">
                                        </a>
                                        <div class="card-body">
                                            <h4 class="card-title">Las olas y las chaas</h4>
                                            <p class="card-text">Fernando Fernandino Goyunoreguachea. </p>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <a href="{% url 'detalle_obra' %}">
                                            <img class="img-fluid card-cover" src="{% static 'core/img/tejido_mandala.jpg' %}" alt="mandala">
                                        </a>
                                        <div class="card-body">
                                            <h4 class="card-title">Tejido de lana</h4>
                                            <p class="card-text">Matías Rebolledo Rebolledo.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <a href="{% url 'detalle_obra' %}">
                                            <img class="img-fluid card-cover" src="{% static 'core/img/pintura.jpg' %}" alt="Card image">
                                        </a>
                                        <div class="card-body">
                                            <h4 class="card-title">Iglesia en la plaza de Munich</h4>
                                            <p class="card-text">Adolfo Hitmonchan.
                                            </p>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
</section>
{% endblock contenido %}