body {
    background-color: #fff;
    font-family: Raleway, sans-serif;
}

h1 {
    font-weight: 300;
    padding-bottom: 10px;
}

h2,
h5 {
    font-weight: 700;
    padding-bottom: 10px;
}

h3,
h4 {
    font-weight: 500;
    padding-bottom: 10px;
}

h6 {
    font-weight: 400;
    font-style: italic;
}

p {
    font-weight: 400;
    line-height: 140%;
    padding-bottom: 10px;
}

.text-link {
    color: #cd1919;
    font-weight: 700;
}

a:hover {
    color: #E87C7C;
}


/* Estilos globales */


/* Color -- Enlaces, NavBar, Footer, Botones */

.primario {
    background-color: #CD1919;
}

.btn.primario {
    font-weight: 700;
}

.btn.primario:hover {
    background-color: #E87C7C;
}

.margen {
    margin-left: 10px;
}

.navbar-brand>img {
    color: #fff;
}

.nav-link:hover {
    color: rgba(255, 255, 255, 1) !important
}
.fa-sign-in-alt {
    color: white;
    font-size: 2.4rem;
}

.fa-sign-out-alt {
    color: rgb(255, 255, 255);
    font-size: 38px;
}


/* Header */

#header_img {
    background-color: rgba(0, 0, 0, 0.486);
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#header_img:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

#header_text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#header_text>h1 {
    font-size: 4rem;
}

.row .login-btn {
    padding-left: 10px;
}

#log_img {
    background-color: rgba(0, 0, 0, 0.486);
    background-image: url("img/cafe_header.jpg");
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#log_img:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
}


/* LINEA */

.linea {
    border-top: 2px solid #bbb;
    height: 2px;
    padding: 0;
    margin: 40px auto 0 auto;
    margin-bottom: 40px;
    overflow: auto;
}

.linea-blanca {
    border-top: 2px solid white;
    height: 2px;
    padding: 0;
    margin: 40px auto 0 auto;
    margin-bottom: 40px;
    overflow: auto;
}


/* CONTENEDOR */

.p {
    margin: 0 auto;
}

.img {
    border-radius: 50%;
    width: 70%;
    position: relative;
}

.img-fluid.img.mx-auto.d-block {
    margin-bottom: 40px;
}

.cont_fondo {
    background: #F4ECD2;
    padding-top: 40px;
    padding-bottom: 40px;
}

.card_slice {
    background: linear-gradient(180deg, #555555 0%, #2C2C2C 100%);
    padding-top: 40px;
    padding-bottom: 60px;
}


/* FICHERO DETALLE OBRA */

.card_slice_detalleobra {
    background-color: #fff;
    padding-top: 40px;
    padding-bottom: 40px;
}

.cont_fondo_do {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAGUlEQVQYlWNgGDzgrKSkMVGKYJg6Jg5SAABWEwX7edtUpgAAAABJRU5ErkJggg==) repeat;
    background-color: #fff;
    padding-top: 100px;
    padding-bottom: 80px;
}


/* FICHERO ARTISTAS */

.detalle-artista {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAGUlEQVQYlWNgGDzgrKSkMVGKYJg6Jg5SAABWEwX7edtUpgAAAABJRU5ErkJggg==) repeat;
    padding-top: 60px;
    padding-bottom: 60px;
}

.artista {
    background-color: #4F4F4F;
    padding: 60px;
    padding-top: 120px;
}

.artistas_slice {
    background: linear-gradient(180deg, #fffefe 0%, #c9c8c8 100%);
    padding-top: 40px;
    padding-bottom: 40px;
}


/*   FOOTER   */

footer,
footer ul,
footer ul a {
    background-color: #CD1919;
    list-style: none;
    color: #fff;
}

.sm-images img {
    width: 26px;
    height: 26px;
}

.facebook img {
    width: 13px;
    height: 26px;
}

.container-footer {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    justify-items: center;
    color: #fff;
    padding: 35px;
    grid-gap: 20px;
    grid-template-areas: "footer-info footer-list footer-socialmedia";
}

.container-footer a:hover {
    color: #F4ECD2;
}

.footer-info {
    display: grid;
    grid-area: footer-info;
    font-size: 14px;
    text-align: left;
}

.footer-info h4 {
    font-size: 15px;
    font-weight: bold;
    padding: 0px;
}

.footer-info p {
    padding: 0px;
    margin-bottom: 0px;
}

.footer-info p a {
    color: white;
}

.footer-list {
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    grid-area: footer-list;
}

.footer-socialmedia {
    display: grid;
    grid-area: footer-socialmedia;
}

.footer-socialmedia img {
    width: 26px;
    height: 26px;
    margin-left: 24px;
    float: right;
    cursor: pointer;
}

.footer-socialmedia p {
    text-align: end;
    font-size: 13px;
    line-height: 4px;
}

@media screen and (max-width: 768px) {
    .container-footer {
        grid-template-areas: "footer-info footer-info footer-list" "footer-socialmedia footer-socialmedia footer-socialmedia";
    }
    .footer-socialmedia .sm-logos {
        display: flex;
        flex-flow: row-reverse;
        justify-content: left;
        margin-bottom: 24px;
    }
    .footer-socialmedia p {
        text-align: center;
    }
}


/*   CONTACTO   */

.contacto {
    margin-top: 100px;
    margin-bottom: 100px;
}

.color-contact {
    background: #F4ECD2;
    color: rgb(85, 85, 85);
}

.patron-puntos {
    background: -webkit-radial-gradient(#ccc 16%, transparent 16%), -webkit-radial-gradient(#ccc 16%, transparent 16%), transparent;
    background-position-x: 0%, 0%, 0%;
    background-position-y: 0%, 0%, 0%;
    background-size: auto, auto, auto;
    background-position-x: 0%, 0%, 0%;
    background-position-y: 0%, 0%, 0%;
    background-size: auto, auto, auto;
    background-position: 0px 0px;
    background-size: 15px 15px;
}

.row.align-content-center.text-lg-center {
    padding: 0 40px 0 40px;
}

.card-cover {
    height: 230px;
    object-fit: cover;
    width: 100%;
}

.cont_fondo-obra {
    background: #3a3a39;
    padding-top: 40px;
    padding-bottom: 40px;
}


/*   Obras   */

.colorhr {
    border-color: white;
}

.carousel-inner {
    padding: 0 30px 0 30px;
}

.brody-obras {
    font-family: 'Open Sans', sans-serif;
}

.obras {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container-obras {
    width: 90%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    margin-bottom: 3em;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
}

.item-obras {
    background-color: #fff;
    cursor: pointer;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .095);
    transition: all 300ms;
    position: relative;
}

/* .item-obras::after {
    content: "";
    background-color: rgba(179, 229, 252, .1);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(0);
    transition: all 300ms;
    opacity: 0;
} */

/* .item-obras:hover:after {
    opacity: 1;
    transform: scale(1);
} */

.item-obras:hover {
    transform: scale(1.05);
}

.item-obras-img {
    max-width: 100%;
    display: block;
}

.item-obras-text {
    padding: 1em;
}

@media screen and (min-width: 590px) {
    .container-obras {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 960px) {
    .container-obras {
        grid-template-columns: repeat(3, 1fr);
    }
}


/*   Inicio Sesion   */

.formulario-inicio_sesion {
    background: rgba(0, 0, 0, .5);
    padding: 20px;
}

.formulario-crear-cuenta {
    background: rgba(0, 0, 0, .5);
    padding: 30px;
}

.artista_contacto img {
    display: block;
    position: relative;
    margin: 25px 20px -30px 20px;
}

.artista_contacto {
    float: left;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAGUlEQVQYlWNgGDzgrKSkMVGKYJg6Jg5SAABWEwX7edtUpgAAAABJRU5ErkJggg==) repeat;
    margin: 10px 0 0 5px;
}

.box-shadow,
.card {
    box-shadow: 2px 2px 5px #0009;
}

.container-xl.contacto .form-control,
.mar-bot-20 {
    margin-bottom: 20px;
}

.container-xl.cont_fondo-obra>.row.justify-content-center {
    margin-top: 80px;
}

.media-cover {
    width: 200px;
    object-fit: cover;
    height: 100%;
}


/*   Validacion formulario publicacion de obra   */

.input-error {
    display: none;
}

.input-error-activo {
    display: block;
    color: #CD1919;
}

.error-envio {
    display: none;
}

.error-envio-activo {
    background-color: #fa5353;
    text-align: center;
    padding: 8px;
    border-radius: 4px;
}

.errores {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: #222;
    display: none;
    font-size: 12px;
    margin-top: -60px;
    margin-left: 280px;
    padding: 10px;
    position: absolute;
}