{% extends 'core/base.html' %} {% load static %} {% block contenido %}

<!-- CONTENIDO DETALLE OBRA -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    $.getJSON('https://mindicador.cl/api', function(dailyIndicators) {
        $("<span/>", {
            html: (document.getElementById('valor-peso').innerHTML / dailyIndicators.dolar.valor).toFixed(2)
        }).coreendTo(document.getElementById('valor-dolar'));
        console.log(dailyIndicators);
        console.log(dailyIndicators.dolar.valor);
    });
</script>
<div>
    <div class="container-xl cont_fondo_do">
        <div class="row justify-content-center">
            <div class="col-8 col-md-4 col-lg-5">
                <img class="img-fluid" src="{% static 'core/img/escultura_pez.jpg' %}" alt="obra-artista" />
            </div>

            <div class="col-8 col-md-4 col-lg-5">
                <h3 class="text-left">Cabeza de Pescao <br />(2019)</h3>
                <h5 class="text-left pb-2">
                    Artista: Fernando Fernandino Goyunoreguachea (Brasil)
                </h5>
                <p class="p text-left pb-1">
                    <strong>Tipo de obra:</strong> Original. Edición limitada (#2/5)
                </p>
                <p class="p text-left pb-1">
                    <strong>Técnica:</strong> Escultura en bronce y aluminio forjado
                </p>
                <p class="p text-left pb-1">
                    <strong>Dimensiones:</strong> Alto 45cm; largo 50cm; ancho 25cm
                </p>
                <p class="p text-left pb-3"><strong>Soporte:</strong> Piedra</p>

                <!-- Inicio de sección precios con API -->

                <h4 class="p text-left pb-4">$<span id="valor-peso">379000</span> (disponible)</h4>

                <h5 class="p text-left pb-4">US$<span id="valor-dolar"></span> dólares (disponible)</h5>

                <!-- Fin de sección de precios con API -->

                <button type="button" class="btn primario text-white mt-2">
              Haz una pregunta >>
            </button>
            </div>
        </div>
    </div>

    <div class="container-xl detalle">
        <div>
            <div class="linea"></div>

            <h4>Acerca de esta obra</h4>
            <p class="p text-left pt-4">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, corrupti quae deserunt qui totam unde mollitia praesentium reprehenderit laudantium ducimus ab atque recusandae aliquam suscipit accusamus neque omnis dignissimos labore.
            </p>
            <p class="p text-left pt-3">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, corrupti quae deserunt qui totam unde mollitia praesentium reprehenderit laudantium ducimus ab atque recusandae aliquam suscipit accusamus neque omnis dignissimos labore.
            </p>
        </div>
        <div class="linea"></div>
        <div class="row">
            <div class="col-8 col-md-4 col-lg-2">
                <img class="img-fluid img mx-auto d-block" src="{% static 'core/img/fernand_fernandinho_fifofalfa.jpg' %}" alt="artistas" />
            </div>
            <div class="col-8 col-md-4 col-lg-2">
                <h5 class="text-lg-left">Fernando Fernandino Goyunoreguachea</h5>
                <p>
                    <img class="align-top" width="18" src="{% static 'core/img/posicion.svg' %}" alt="lugar" /> Brasil. Chile
                </p>
            </div>
        </div>
        <div class="linea"></div>
    </div>

    <!-- CARD SLICE -->
    <div class="container-xl card_slice_detalleobra">
        <h2 class="text-lg-left mb-5 ml-5">Obras relacionadas</h2>
        <div class="row align-content-center text-lg-center">
            <div class="col-4 pl-5">
                <div class="card" style="width: 18rem">
                    <img class="card-img-top" src="{% static 'core/img/escultura_pez.jpg' %}" alt="fish-Head" />
                    <div class="card-body">
                        <h4 class="card-title">Las olas y las chaas</h4>
                        <p class="card-text">Fernando Fernandino Goyunoreguachea.</p>
                    </div>
                </div>
            </div>
            <div class="col-4 pl-5">
                <div class="card" style="width: 18rem">
                    <img class="card-img-top" src="{% static 'core/img/escultura_pez.jpg' %}" alt="fish-Head" />
                    <div class="card-body">
                        <h4 class="card-title">Las olas y las chaas</h4>
                        <p class="card-text">Fernando Fernandino Goyunoreguachea.</p>
                    </div>
                </div>
            </div>
            <div class="col-4 pl-5">
                <div class="card" style="width: 18rem">
                    <img class="card-img-top" src="{% static 'core/img/escultura_pez.jpg' %}" alt="fish-Head" />
                    <div class="card-body">
                        <h4 class="card-title">Las olas y las chaas</h4>
                        <p class="card-text">Fernando Fernandino Goyunoreguachea.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}